<div class="container-fluid" ng-init="labResultinit()">
    <div class="row topbar">
        <div class="title-bar">
            <h4>Lab Details
                <a class="pull-right" href="#!/app/dashboard">
                    <svg width="50" height="25" aria-hidden="true" data-prefix="far" data-icon="arrow-to-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-arrow-to-left fa-w-14 fa-3x"><path fill="currentColor" d="M247.9 412.5l-148.4-148c-4.7-4.7-4.7-12.3 0-17l148.4-148c4.7-4.7 12.3-4.7 17 0l19.6 19.6c4.8 4.8 4.7 12.5-.2 17.1L187.2 230H436c6.6 0 12 5.4 12 12v28c0 6.6-5.4 12-12 12H187.2l97.1 93.7c4.8 4.7 4.9 12.4.2 17.1l-19.6 19.6c-4.7 4.8-12.3 4.8-17 .1zM52 436V76c0-6.6-5.4-12-12-12H12C5.4 64 0 69.4 0 76v360c0 6.6 5.4 12 12 12h28c6.6 0 12-5.4 12-12z" class=""></path></svg>
                </a>
            </h4>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="box">
            <div class="box-header">
            </div>
            <div class="box-body">
                <ul>
                    <li ng-repeat="tests in testlis">
                        {{tests.subdeptnm}}
                        <ul>
                            <li ng-repeat="progp in tests.profile_group">
                                <span ng-if="progp.pkgidh != '1'">{{progp.pkgnm}}</span>
                                <span ng-if="progp.prfgpnm != ' '">{{progp.prfgpnm}}</span>
                                <ul>
                                    <li ng-repeat="profls in progp.Profiles">
                                        <div ng-if="profls.prfnm!='' && profls.prfnm != '.' && profls.prfnm!='..' && profls.prfnm != '...'">{{profls.prfnm}}</div>
                                        <ul>
                                            <li ng-repeat="test in profls.Tests">
                                                {{test.testnm}}
                                                <a href ng-click="openModel(test.trid)">
                                                    <svg width="50" height="25" aria-hidden="true" data-prefix="far" data-icon="camera" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-camera fa-w-16 fa-3x"><path fill="currentColor" d="M342.7 144H464v288H48V144h121.3l24-64h125.5l23.9 64zM324.3 32h-131c-20 0-37.9 12.4-44.9 31.1L136 96H48c-26.5 0-48 21.5-48 48v288c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V144c0-26.5-21.5-48-48-48h-88l-14.3-38c-5.8-15.7-20.7-26-37.4-26zM256 408c-66.2 0-120-53.8-120-120s53.8-120 120-120 120 53.8 120 120-53.8 120-120 120zm0-192c-39.7 0-72 32.3-72 72s32.3 72 72 72 72-32.3 72-72-32.3-72-72-72z" class=""></path></svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>





<div class="modal" ng-controller="testController" id="photoModel" role="dialog" modal="photoModel" close="cls()">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="cls()"><i class="fa fa-times"></i></button>
                <h4 class="modal-title">
                    <span style="float:left">Add Photos</span>
                        <select 
                        style="width: 35%;float: left;"
                        class="form-control"
                        ng-model="selectedName"
                        ng-options="color.label for color in devices"
                          ng-change="getMedia(selectedName)"
                         >
                    <option value="">Choose Camera</option>
                        </select> 
                </h4>
            </div>
            <div class="modal-body">
                <input type="text" ng-model="newtrid">
                <div class="container-fluid">
                    
                    <div class="row">
                        <div class="col-md-4">
                                <button class="btn btn-snap" ng-click="captureSnap()"><i class="fa fa-camera"></i>

                                    take picture</button>
                                <div id="camdemo" style="width: 280px; height: 240px; text-align: center; margin: 0 auto;"></div>
                        </div>
                        <div class="col-md-4" style=" height: 240px;width: 280px; " ng-repeat="images in imagesList " ng-if="imagesList.length">
                                <img src="{{images.imgUrl}}" style="width:100%">
                        </div>
                        </div>
                      
                </div>
                    <div>
                   </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" ng-click="savePhotos(imagesList,newtrid)"> Save </button>
                <button class="btn" ng-click="cls()">Cancel</button>
            </div>
        </div>
    </div>
</div>
 