html,
body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #eff3f6;
    font-family: 'Source Sans Pro', sans-serif;
}
.card {
    padding: 25% 15%;

}
/* .card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
} */

.height {
    height: 100%;
}

.bgimg{
    background-color: #2A363F;
 }

.loginbg {
    background-color: #eff3f6;
}

/* .right-login {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -195px;
    margin-left: -195px;
    width: 350px;
} */

.lgicon {
    border: 1px solid #5f5f5f;
    border-right: 0px;
    text-align: center;
}

.lginput {
    border: 2px solid #6ED9A0;
    height: 40px;
}

.lgwrap {
    padding: 20px
}

.lglogo {
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

.lginput:focus {
    box-shadow: none;
    border-color: #6ED9A0;
}

.lginput:focus .lginput>.lgicon {
    border-color: #6ED9A0;
}

.header {
    background-color: #3ac9d6;
    min-height: 50px;
}

.logo img {
    background-color: #fff;
}


/************ DASHBOARD **********************/

.topbar {
    margin-top: 8px;
}

.title-bar {
    padding: 4px;
    width: 96%;
    border-radius: 5px;
    margin-left: 2%;
    background-color: #fff;
    border: 1px solid #2ea1f8;
    color: #2ea1f8;
}
.btn-login{
    background-color: #6ED9A0;
    color: #fff;
}
.box {
    background-color: #fff;
    width: 96%;
    margin-left: 2%;
    margin-top: 1%;
    border-radius: 5px;
}

.box-header {
    border-top: 3px solid #2ea1f8;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.open {
    display: block !important;
}

.close {
    display: none !important;
}

.btn-snap{
    position: absolute;
    /* background-color: rgba(214, 147, 147, 0); */
    /* color: green; */
    border: 1px solid #3ac9d6;
    padding: 7px;
    background: #3ac9d6;
    color: #fff;
    top: 79%;
    z-index: 999;
    border-radius: 0px;
}